@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Bold.eot');
    src: url('../fonts/AcuminPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Bold.woff2') format('woff2'),
        url('../fonts/AcuminPro-Bold.woff') format('woff'),
        url('../fonts/AcuminPro-Bold.ttf') format('truetype'),
        url('../fonts/AcuminPro-Bold.svg#AcuminPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.eot');
    src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica-Bold.woff') format('woff'),
        url('../fonts/Helvetica-Bold.ttf') format('truetype'),
        url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

